<!DOCTYPE html>
<html>
<head>
	<title>Note App</title>
</head>
<body>
	<p><b>NOTE</b></p>
	<div id="app">
		<div>
			<b>{{title}} </br></b>
			{{content}}</br>

			<p>Title :</p><input type="text" v-model="title"></br>
			<p>Content :</p><input type="text" v-model="content"></br></br>
			<input type="button" value="Add Item" v-on:click="addItem"></br>
		</div>

		<p v-if="items.lenght || content.length == 0">No item</p>
		<ul>
			<li v-for="item in items"> 
				<b>{{ item.title }}</b> - <a href="#">remove</a>
				<p>{{ item.content }}</p>
			</li>
		</ul>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript">
		new Vue({
			el: '#app',
			data: {
				items: [],
				title: '',
				content: ''
			},
			methods:{
				addItem(){
					axios.post('http://localhost:1337/note', {
						title: this.title,
						content: this.content
					}).then(response => {
						this.items.push(response.data)
						this.title = ''
						this.content = ''
					})
				}
			},
			created(){
				axios.get('http://localhost:1337/note').then((response) => {
					console.log(response.data)
					this.items = response.data
				})
			}
		})
	</script>
</body>
</html>