<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<title>Note App</title>
</head>
<body>
	<div class="container">
		<div id="app">
			<div class="jumbotron">
				<div class="container">
					<h1>My Note</h1>
					<div class="input-group">
						<input type="text" v-model="title" class="form-control" placeholder="Title">
					</div>
					<br>
					<div class="input-group">
						<input type="text" v-model="content" class="form-control" placeholder="Content">
					</div>
					<br>
					<input type="button" value="Add" v-on:click="addItem" class="btn btn-primary"></br>
				</div>
			</div>
			<br>
			<p v-if="items.length == 0">No item</p>
			<div class="row">
				<div class="col-xs-6 col-md-3" v-for="item in items" style="none">
					<div class="panel panel-info">
					  <div class="panel-heading">
					    <h3 class="panel-title"><b>{{ item.title }}</b></h3>
					  </div>
					  <div class="panel-body">
					    <p>{{ item.content }}</p><br>
					    <p><a href="#" class="btn btn-info" role="button" v-on:click="removeItem(item)">Remove</a></p>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript">
		new Vue({
			el: '#app',
			data: {
				items: [],
				title: '',
				content: ''
			},
			methods:{
				addItem(){
					axios.post('http://localhost:1337/note', {
						title: this.title,
						content: this.content
					}).then(response => {
						this.items.push(response.data)
						this.title = ''
						this.content = ''
					})
				},
				removeItem(item){
					axios.delete(`http://localhost:1337/note/${item.id}`).then(response => {
						const index = this.items.indexOf(item)
						this.items.splice(index, 1)
					})
				}
			},
			created(){
				axios.get('http://localhost:1337/note').then((response) => {
					console.log(response.data)
					this.items = response.data
				})
			}
		})
	</script>
</body>
</html>